/* css para todas as páginas da app */


/* ELEMENTOS */
*{
    box-sizing: border-box;
}

/* fundo */
body{
    background-color: #F4EBFF;
}

/* margens */
main{
    position: relative;
    margin: 2vh 7.5vw 0;
    /* para ir até a fim do viewport (retira a header) */
    height: calc(98vh - 90px);
}

/* logo FACEBOOMER */
header  {
    position: relative;
    padding: 0 7.5vw;
    padding-top: 6vh;
    height: 90px;
}
header #logo{
    /* para centrar o logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

header #pagina{
    float: left;
}

/* titulos de pagina */
header h2, header h4, header p {
    position: relative;
    width: 85%;
    left: 15%;
}

/* icone voltar para tras */
header #back{
    position: absolute;
    font-size: 30px;
    color: #7300FF;
}

/* POPUPS */
#popups {
    margin: 0 3%;
    position: fixed;
    z-index: 10;
}

/*Popup grupo rissois*/
#popups1 {
    margin: 0 3%;
    position: fixed;
    z-index: 10;
}

.popup{
    position: relative;
    background-color: #F4EBFF;
    padding: 10vh 10vw;
    margin-bottom: 1vh;
    overflow: hidden;

    border: solid #7300FF 1px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #D8B7FF;
    
    color: #7300FF;
    font-size: 9px;
    line-height: 12px;
}

.popup1{
    position: relative;
    background-color: #F4EBFF;
    padding: 10vh 10vw;
    margin-bottom: 1vh;
    overflow: hidden;

    border: solid #7300FF 1px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #D8B7FF;
    
    color: #7300FF;
    font-size: 9px;
    line-height: 12px;
}

.popup-button{
    position: absolute;
    top: 10px;
    right: 11px;
}

.popup-button1{
    position: absolute;
    top: 10px;
    right: 11px;
}

  /* navbar */
  .bottomnav {
    width: 100%;
    background-color: #FAFAFF; 
    overflow: hidden;
    position: fixed;
    bottom:0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7D12FF;
  }

  /* onde se escrevem coisas, pesquisa, estado */
  textarea{
    word-wrap: break-word;
    font-size: 9pt;
    line-height: 12pt;
  }


/* TIPOGRAFIA */
@font-face {
    font-family: myOpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: myOpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

strong{
    font-weight: bold;
}

body{
    font-family: 'myOpenSans', Helvetica, Arial, sans-serif;
}

/* titulo das paginas */
header{
    color: black;
    font-size: 30pt;
    font-weight: bold;
    font-kerning: normal;
}

h2{
    font-size: 30px;
}

/* titulo nas conversas */
h4{
    font-size: 9px; 
    font-weight: bold;  
  }

