/* ELEMENTOS */

/* ESTADO */

#estado-wrapper{
    background-color: #FAFAFF;
    min-height: 50px;
    height: 50px;
    width: 100%;
    padding: 11px 25px;
}

/* foto de perfil */
#estado-wrapper .fotoPerfil {
    position: relative;
    display: inline-block;
    height: 30px;
}

.fotoPerfil img{
    height: 100%;
}

/* typing... */
#type-new-post {
    display: inline-block;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    width: 73%;

    word-wrap: break-word;
    font-size: 9pt;
    line-height: 12pt;
}

/* botões */
#estado button{
    background-color: #7D12FF;
    color: white;
    border: none;
    min-height: 20px;
    padding: 2px 10px;
    font-size: 8pt;
}

.publish {
    float: right;
}
