/* ELEMENTOS */

/* ESTADO */
#estado{
    background-color: #FAFAFF;
}

/* foto de perfil */
#estado .fotoPerfil {
    display: inline-block;
    height: 30px;
}

/* botões */
button .fotoGif{
    background-color: #7D12FF;
    color: white;

    font-size: 8pt;
}
