/* Header */

.cabecalho {
  display: flex;
  margin: 10% 7.5%;
}

.seta {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-grupos {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30pt;
}

.close {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Grupos */

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 5px;
  padding-bottom: 5em;
  align-content: center;
}

.grupo-wrapper {
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 110px;
}

.grupo-wrapper img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  object-fit: cover;
}

/* Conversa Nuno */

#imagem-vichy {
  transition: 0.3s;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  max-height: 110px;
  object-fit: cover;
}

/* Background */
.conteudoVichy {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /*Fundo Fallback*/
  background-color: rgba(0, 0, 0, 0.9);
}

/* Conteudo */
.conteudo {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

/* Legenda */
#legenda {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  text-align: center;
  text-shadow: 0 0 2px #7d12ff;
  color: grey;
  padding: 10px 0;
  height: 150px;
}

#legenda .fa-paper-plane {
  margin-left: 2vh;
}

#legenda a {
  text-decoration: none;
  text-shadow: 0 0 2px #7d12ff;
  color: grey;
}

/* Animação */
/*  .conteudo, #legenda {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }*/

/* Botão */
.fechar {
  position: absolute;
  top: 15px;
  right: 35px;
}
