/* Popups */

#popups {
    margin: 20% 0 0 0;
    width: 95%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#popups1 {
    margin: 20% 0 0 0;
    width: 95%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

/* Barra de Pesquisa */

#searchbar{ 
    border: none;
    background-color: #FAFAFF;
    width: 100%;
    padding: 11px 7%;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #D8B7FF;
  } 

/* Grupos */

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 10vh;
    margin-top: 3vh;
}

.itens-grupos, .itens-grupos1 {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #D8B7FF;
    border-radius: 15px;
    overflow: hidden;
    list-style-type: none;

    animation: cor linear 20s;
}

.imagem-grupo img {
    border-radius: 15px 15px 0 0;
    width:  100%;
    height: 108px;
    object-fit: cover;
}

h3 {
    text-align: left;
    margin: 1.5em 1.5em 2em 1.5em;
    font-size: 9px;
    line-height: 12px;
    font-weight: bold;
    height: 10px;
}