/*css da página de perfil*/

header {
  font-size: 20pt;
  align-self: initial;
  width: 100%;
}

li {
  padding: 0.5vh 2vw;
}

li i.fa{
  margin-right: 5px;
}

#capa img {
  height: 100%;
  width: 100%;
  border-radius: 2vh;
  position: relative;
  z-index: 1;
}

#fotodeperfil {
  display: flex;
  justify-content: center;
}

#fotodeperfil img {
  height: 40%;
  width: 40%;
  border-radius: 2vh;
  border: solid #f4ebff 6px;
  z-index: 2;
  margin-top: -10vh;
}

#maria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30pt;
}

/* INFOS PERFIL */

#bio {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 3vh;
}

#infolista {
  background-color: #fafaff;
  min-height: 50px;
  height: auto;
  width: auto;
  padding: 1vh 2vw 1vh 4vw;
  line-height: 16pt;

  border-radius: 15px;
  box-shadow: 1px 1px 10px #d8b7ff;
  overflow: hidden;
  margin-bottom: 2.5vh;
}

.nmrs {
  padding-top: 1vh;
  font-size: 12pt;
  font-weight: 200;
}

#amigos {
  background-color: #fafaff;
  min-height: 50px;
  height: auto;
  width: auto;
  padding: 1vh 2vw 2vh 4vw;

  border-radius: 15px;
  box-shadow: 1px 1px 10px #d8b7ff;
  overflow: hidden;
  margin-bottom: 2.5vh;
}

#amigos img {
  height: 30%;
  width: 30%;
  padding: 0.5vh;
  position: relative;
  border-radius: 1.5vh;
}

.ttl {
  position: relative;
  display: block;
  padding: 2vh 0.5vh;
  font-weight: 600;
}

#fotos {
  background-color: #fafaff;
  min-height: 50px;
  height: auto;
  width: auto;
  padding: 1vh 2vw 2vh 4vw;

  border-radius: 15px;
  box-shadow: 1px 1px 10px #d8b7ff;
  overflow: hidden;
}

#fotos img {
  height: 30%;
  width: 30%;
  padding: 0.5vh;
  position: relative;
  border-radius: 1.5vh;
}

#ttlpubs {
  position: relative;
  display: block;
  padding: 2vh 0.5vh;
  font-weight: 600;
  font-size: 16pt;
  margin-top: 2vh;
}

#antigos-posts{
  padding-bottom: 0.1em;
}
