/*HEADER*/
header p {
  display: inline-block;
  padding-top: 14px;
  font-size: 14px;
}

/*FOOTER*/
footer {
  background-color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 90px 0 90px;
  box-shadow: 0px -1px 10px #d8b7ff;
  text-align: center;
}

footer h2 {
  margin: 2vh 0;
  font-size: 12px;
}

/*LINHA VERTICAL*/
.vl {
  border-left: 1px solid #d8b7ff;
}

/*MOLDURAS*/
.wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 13%;
  padding: 0 2vh;
}

.fundos {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
}

.fundo {
  align-items: center;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
